.container {
    width: 100%;
    max-width: 1446px;
    height: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    box-sizing: border-box;
}
.footerText {
    width: 183px;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footerText p {
    margin: 0;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-weight: 700;
    line-height: 22.98px;
    letter-spacing: 0.2em;
    text-align: left;
    text-transform: uppercase;
}
.footerIcons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footerIcons svg {
    width: 40px;
    height: 40px;
}
.footerLogo img {
    width: 100px;
    height: auto;
}