:root {
  --font-family-title: "Ubunto" Arial, Helvetica, sans-serif;
  --font-size-large: 50px;
}

.titulo{
  font-family: var(--font-family-title);
  font-weight: 700;
  font-size: var(--font-size-large);
  color: #001A23;
  align-items: center;
  justify-content: center;
}

.subtitulo {
  font-family: var(--font-family-title);
  font-size: 40px;
  font-weight: 700;
  color:#E8F1F2;
  text-align: left;
  width: 427px;
  height: 46px;
}

