:root {
  --font-family-Ubunto: "Ubunto" Arial, Helvetica, sans-serif;
  --font-family-Actor: "Actor" Arial,Helvetica, sans-serif;
  --font-size-large: 50px;
  --font-weight-large: 700;

  --backgroundPadrao:#E8F1F2;
  --backgroundSubtitle1:#CDF5CC80;
  --backgroundSubtitle2:#7A9E7E;
  --backgroundSubtitle3:#31493C;
  --backgroundSubtitle4:#001A23;

  --cardBackground1: #7A9E7E;
  --cardBackground2: #CDF5CC80;
  --cardBackground3: #CDF5CC80;

  --buttonColor: #31493C;
}

.titulo{
  font-family: var(--font-family-Ubunto);
  font-weight: 700;
  font-size: var(--font-size-large);
  color: #001A23;
  align-items: center;
  justify-content: center;
}

.subtitulo {
  font-family: var(--font-family-Ubunto);
  font-size: 40px;
  font-weight: 700;
  color:#E8F1F2;
  text-align: left;
  width: 427px;
  height: 46px;
}
 
.textoSn {
    font-family: var(--font-family-Actor);
    font-weight: 400;
    font-size: 18px;
    color: #001A23;
}

.search {
  font-family: var(--font-family-Actor) ;
  font-size: 16px;
  font-weight: 400;
  
}