.container-login {
    display: inline-flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
    color: inherit;
}
.container-login span {
    margin-right: 8px;
}
.container-login a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}  